appnope==0.1.0
arrow==0.14.7
backcall==0.2.0
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
dateparser==0.7.6
decorator==4.4.2
Flask==1.1.2
Flask-Caching==1.9.0
gunicorn==20.0.4
icalendar==4.0.6
idna==2.9
ipdb==0.13.3
ipython==7.15.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.1
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.6.1
pylibmc==1.6.1
python-dateutil==2.8.1
pytz==2020.1
regex==2020.6.8
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
TatSu==5.5.0
traitlets==4.3.3
tzlocal==2.1
urllib3==1.26.5
wcwidth==0.2.4
Werkzeug==1.0.1
